/* не страдартный медиа max-width: 1599px */
@media (max-width: 1599px){
    .case_header__img{
        width: 79%;
    }
}
@media (max-width: 1424px){
    .case_header__img{
        width: 75%;
    }
    .case_header__header{
        font-size: 75px;
        margin-top: 10%;
    }
    .case_header__descr{
        padding-right: 60%;
    }
    .info_img{
        width: 40%;
    }
    .case_info__header{
        font-size: 35px;
    }
    .features_header{
        font-size: 35px;
    }
    .features_descr{
        max-width: 63%;
    }
    .testimonials_header{
        margin-top: 6%;
        font-size: 35px;
    }
    .card_container{
        top: 24%;
    }
}
/* не страдартный медиа max-width: 1223px */
@media (max-width: 1223px){
    .case_header__img{
        width: 71%;
    }
    .case_header__header{
        font-size: 65px;
        margin-top: 8%;
    }
    .case_header__descr{
        font-size: 16px;
        margin-top: 3%;
        padding-right: 56%;
    }
    .button_link{
        margin-top: 4%;
    }
    .case_info__header{
        font-size: 30px;
    }
    .case_info__descr{
        font-size: 16px;
    }
    .features_header{
        font-size: 30px;
    }
    .features_descr{
        max-width: 73%;
        font-size: 16px;
    }
    .testimonials_header{
        font-size: 30px;
    }
    .card_box{
        margin: 30px 0 9% 0;
    }
    .card_container{
        top: 20%;
    }
    .user_comment{
        margin-top: 20px;
        font-size: 16px;
        line-height: 150%;
    }
    .slider_dots-arrow{
        margin-top: 400px;
    }
    .features-box{
        grid-template: 1fr 1fr 1fr / 1fr;
        gap: 40px 0;
    }
}
/* лучше использовать стандартные медиа */
@media (max-width: 1023px){
    .menu_link{
        font-size: 18px;
    }
    .case_header__header{
        font-size: 55px;
    }
    .case_header__descr{
        font-size: 16px;
        padding-right: 50%;
    }
    .button{
        min-width: 136px;
        height: 48px;
        font-size: 16px;
    }
    .case_info{
        padding: 0 3.5%;
    }
    .case_info__header{
        font-size: 25px;
        margin: 0px;
    }
    .case_info__descr{
        margin-top: 5px;
        font-size: 14px;
    }
    .features_header{
        font-size: 25px;
    }
    .features_descr{
        max-width: 83%;
        font-size: 14px;
    }
    .case_features_header{
        font-size: 20px;
    }
    .case_link__text{
        font-size: 18px;
    }
    .testimonials_header{
        font-size: 25px;
    }
    .user_name{
        font-size: 16px;
    }
    .user_comment{
        font-size: 14px;
    }
}
@media (max-width: 767px){
    .container{
        margin-top: 5%;
    }
    .strip{
        margin-top: 5%;
    }
    .footer_case{
        margin-top: 5%;
    }
    .nav{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .case_header__img{
        width: 100%;
    }
    .menu{
        position: fixed;
        grid-template: 1fr 1fr 1fr / 1fr;
        align-items: center;
        justify-items: center;
		top: 0;
		left: -100%;
        padding-left: 0;
		width: 45vh;
		height: 100vh;
		background-color: rgba(156, 105, 226, 0.8);
		transition: 0.6s all;
        z-index: 2;
        border-radius: 0 50px 50px 0;
    }
    .menu_active{
        left: 0;
    }
    .menu_link{
        font-size: 30px;
        color: #FFFFFF;
    }
    .menu_link:hover{
        font-size: 25px;
    }
    .hamburger{
        display: block;
        position: fixed;
        top: 5%;
		right: 5%;
		width: 50px;
		height: 50px;
        background-color: rgba(156, 105, 226, 0.8);
        border-radius: 50px;
        z-index: 2;
    }
    .hamburger_wrap{
        margin-top: 14px;
        margin-left: 10px;
    }
    .hamburger span{
        display: block;
        height: 4px;
        width: 30px;
        margin: 5px 0;
        background-color:#FFFFFF;
        transition: 0.5s all;
        border-radius: 4px;
    }
    .hamburger_active span{
        margin-bottom: -4px;
    }
    .hamburger_active span:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }
    .hamburger_active span:nth-child(2){
        display: none;
    }
    .hamburger_active span:nth-child(3){
        transform: translateY(3px) rotate(45deg);
    }
    .case_header{
        align-items: center;
    }
    .case_header__header{
        font-size: 45px;
        padding-right: 0;
        text-align: center;
    }
    .case_header__descr{
        font-size: 14px;
        padding-right: 0;
        text-align: center;
    }
    .case_header__img{
        margin-top: 4%;
        position: static;
    }
    .button_link{
        display: none;
    }
    .case_features_header{
        align-items: center;
    }
    .case_info__header{
        font-size: 20px;
    }
    .case_info{
        display: block;
        padding: 0;
    }
    .box_info{
        padding: 8% 8%;
    }
    .case_info__header{
        text-align: center;
    }
    .info_img{
        display: none;
    }
    .features-box{
        gap: 30px 0;
    }
    .case_features_icon{
        width: 40%;
    }
    .testimonials_header{
        text-align: center;
    }
    .card_container{
        position: static;
        display: flex;
        left: 0;
        margin-top: 10%;
    }
    .card{
        display: none;
    }
    .card_descr{
        margin-top: 0;
    }
    .card__active{
        display: initial;
    }
    .case_features_header{
        font-size: 22px;
    }
    .case_features_descr{
        font-size: 14px;
    }
    .slider_dots-arrow{
        margin-top: 30px;
        justify-content: center;
    }
    .box_dot{
        grid-template: 15px / 15px 15px 15px;
        gap: 0px 25px;
    }
    .dot{
        width: 10px;
        height: 10px;
    }
    .dot_active{
        width: 15px;
        height: 15px;
    }
    .arrow_box{
        display: none;
    }
    .address{
        font-size: 14px;
    }
    .mail{
        font-size: 14px;
    }
    .footer_case{
        flex-direction: column;
        align-items: center;
    }
    .footer_box_info{
        align-items: center;
    }
    .address{
        text-align: center;
        margin-top: 20px;
    }
    .mail{
        text-align: center;
    }
    .number_company{
        text-align: center;
    }
    .footer_box_social-media{
        align-items: center;
        margin-top: 20px;
    }
}
@media (max-width: 575px){
    .container{
        padding: 0 10%;
    }
    .container_footer{
        padding-bottom: 30px;
    }
    .case_header{
        margin-top: 0;
    }
    .case_header__header{
        font-size: 35px;
    }
    .hamburger{
        top: 2%;
		right: 4%;
    }
    .case_features_img{
        width: 340px;
        height: 240px;
    }
    .case_features_wrap{
        padding-left: 130px;
        padding-right: 30px;
    }
    .case_features_header{
        font-size: 20px
    }
    .case_link__text{
        font-size: 16px
    }
    .case_features_descr{
        font-size: 12px;
    }
    .case_features_icon{
        width: 30%;
    }
    .case_features_header{
        margin-top: 30px;
    }
    .card_box{
        position: relative;
        flex-direction: column;
        align-items: start;
        margin-top: 25px;
    }
    .avatar{
        position: absolute;
        width: 30%;
        left: 0;
        top: 0;
        padding-left: 6%;
    }
    .user_name{
        padding-left: 90px;
        margin-top: 13px;
    }
    .user_job{
        padding-left: 90px;
    }
    .user_comment{
        margin-top: 20px;
    }
}
@media (max-width: 424px){
    .case_header__header{
        margin-top: 5%;
    }
    .hamburger{
        top: 1.5%;
    }
    .features-box{
        gap: 15px 0;
    }
    .case_features_img{
        width: 300px;
        height: 220px;
    }
    .case_features_wrap{
        padding-left: 105px;
        padding-right: 15px;
    }.case_features_header{
        margin-top: 25px;
    }
    .user_name{
        padding-left: 70px;
        margin-top: 8px;
    }
    .user_job{
        padding-left: 70px;
    }
}
@media (max-width: 374px){
    .hamburger{
        top: 1%;
    }
    .case_features_img{
        width: 256px;
        height: 180px;
    }
    .case_features_wrap{
        padding-left: 90px;
        padding-right: 10px;
    }
    .case_features_header{
        font-size: 16px;
        margin-top: 15px;
    }
    .case_features_descr{
        font-size: 11px;
    }
    .case_link__text{
        margin-top: 2px;
        font-size: 14px;
    }
    .user_name{
        padding-left: 63px;
        margin-top: 5px;
    }
    .user_job{
        padding-left: 63px;
    }
    .slider_dots-arrow{
        margin-bottom: 30px;
    }
}
