html{
    font-family: 'Ubuntu', sans-serif;
}
body{
    margin: 0;
}
.section{
    max-width: 1600px;
    margin: 0px auto;
}
.container{
    max-width: 1600px;
    padding: 0 15%;
    margin-top: 9%;
}
.container_header{
    margin-top: 0;
}
.nav{
    display: flex;
    margin-top: 5.40%;
}
.logo_link{
    display:flex;
    justify-content: center;
    align-items: center;
}
.menu{
    margin: 0;
    list-style-type: none;
    padding-left: 9%;
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 0px 20px;
    align-items: center;
    justify-items: center;
}
.hamburger{
    display: none;
}
.menu_link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    text-decoration-line: none;
    color: #4B5D68;
    transition: 0.2s all;
}
.menu_link:hover{
    color: #212353;
    font-size: 21px;
    transition: 0.2s all;
}
.case_header__img{
    position: absolute;
    right: -10%;
    bottom: -18%;
    z-index: -1;
    float: right;
    shape-outside: circle(50%);
}
.case_header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.case_header__header{
    padding-right: 24%;
    margin-top: 12.5%;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    color: #212353;
}
.case_header__descr{
    padding-right: 66%;
    margin-top: 4%;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.button_link{
    margin-top: 5%;
}
.button{
    min-width: 170px;
    height: 60px;
    background: #9C69E2;
    border: none;
    border-radius: 50px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.2s all;
}
.button:hover{
    background: #8f5ed4;
    transition: 0.2s all;
}
.container_info{
    display: flex;
    justify-content: center;
}
.box_info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0 3% 1.5%;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.info_img{
    width: 50%;
}
.case_info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 6.5%;
}
.case_info__header{
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
.case_info__descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.container_features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features_header{
    font-weight: 500;
    font-size: 40px;
    color: #212353;
}
.features_descr{
    max-width: 53%;
    margin-top: 4.5%;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    text-align: center;
}
.features-box{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 50px 32px;
    margin-top: 8%;
}
.case_features{
    position: relative;
}
.case_features_icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.case_features_img{
    width: 531px;
    height: 364px;
}
.case_features_wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-left: 260px;
}
.case_features_img__1{
    background: url('../img/case_1.png') center right/442px no-repeat;
}
.case_features_img__2{
    background: url('../img/case_2.png') center right/442px no-repeat;
}
.case_features_img__3{
    background: url('../img/case_3.png') center right/442px no-repeat;
}
.case_features_img__4{
    background: url('../img/case_4.png') center right/442px no-repeat;
}
.case_features_header{
    margin-top: 50px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
}
.case_features_descr{
    width: 80%;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
.case_features_link{
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
    text-decoration: none;
    cursor: pointer;
}
.case_link__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #212353;  
}
.container_testimonials{
    display: flex;
    justify-content: center;
    overflow:  hidden;
}
.testimonials_box{
    position: relative;
    width: 100%;
    padding: 0 9%;
    border-radius: 50px;
    background: #9C69E2;
}
.testimonials_header{
    margin-top: 10%;
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
}
.card_container{
    position: absolute;
    display: grid;
    grid-template: 100% / 60% 42% 42%;
    gap: 0px 20px;
    left: 9%;
    top: 30%;
}
.card{
    position: relative;
    padding: 0 9%;
    box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background:#FFFFFF;
}
.card::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:2;
    border-radius: 20px;    
    background: linear-gradient(270deg, #FFFFFF 9.75%, rgba(255, 255, 255, 0) 100%);
}
.card__active{
    background:#FFFFFF;
    box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.card__active::before{
    display: none;
}
.card_box{
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 60px 0 10.62% 0;
}
.card_descr{
    margin-top: 20px;
    padding-left:6%;
}
.user_name{
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #212353;
}
.user_job{
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #9C69E2;
}
.user_comment{
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}
.slider_dots-arrow{
    margin-top: 478px;
    margin-bottom: 60px;
    display: flex;
	justify-content: space-between;
    align-items: center;
    height: 15px;
}
.box_dot{
    display: grid;
    grid-template: 10px / 10px 10px 10px;
    gap: 0px 10px;
    align-items: center;
    justify-items: center;
}
.dot{
    cursor: pointer;
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    border-radius: 5px;
    transition: 0.2s all;
}
.dot_active{
    width: 10px;
    height: 10px;
    background: #F063B8;
    border-radius: 10px;
    transition: 0.2s all;
}
.arrow_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 20px;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    cursor: pointer;
}
.arrow div {
    position: relative;
    top: 0;
    width: 40px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
    left:0;
    display: block;
}
.arrow div::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    top: -1px;
    left: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
    transform: rotate(-45deg);
}
.arrow div::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    top: -7px;
    left: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
    transform: rotate(45deg);
}
.arrow_active{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    transform: rotate(180deg);
}
.arrow_active div {
    position: relative;
    top: 0;
    width: 40px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
    left:0;
    display: block;
}
.arrow_case div{
    width: 20px;
    background-color: #9C69E2;
    transform: rotate(180deg);
}
.arrow_case div::after{
    background-color: #9C69E2;
}
.arrow_case div::before{
    background-color: #9C69E2;
}
.strip{
    margin-top: 9%;
    width:100%;
    height: 2px;
    background: #9C69E2;
    opacity: 0.2;
}
.container_footer{
    padding-bottom: 70px;
}
.footer_case{
    display: flex;
    justify-content: space-between;
    margin-top: 9%;
}
.footer_box_info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.logo_footer{
    display:flex;
    justify-content: start;
    align-items: center;
    text-decoration-line: none;
}
.name_company{
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #212353;
}
.address{
    margin-top: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #212353;
}
.mail{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #212353;
}
.number_company{
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    color: #212353;
}
.footer_box_social-media{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 190px;
}
.social_header{
    font-weight: 500;
    font-size: 16px;
    line-height: 220%;
    color: #212353;
}
.social_case{
    display: grid;
    grid-template: 50px / 50px 50px 50px;
    gap: 0px 20px;
    align-items: center;
    justify-items: center;
    margin-top: 20px;
}
.social_round{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #4e4e4e;
    opacity: 0.1;
    cursor: pointer;
}
.social_round:hover{
    background: #000000;
    transition: 0.2s all;
}
@media (max-width: 1599px){
    .case_header__img{
        width: 79%;
    }
}
@media (max-width: 1424px){
    .case_header__img{
        width: 75%;
    }
    .case_header__header{
        font-size: 75px;
        margin-top: 10%;
    }
    .case_header__descr{
        padding-right: 60%;
    }
    .info_img{
        width: 40%;
    }
    .case_info__header{
        font-size: 35px;
    }
    .features_header{
        font-size: 35px;
    }
    .features_descr{
        max-width: 63%;
    }
    .testimonials_header{
        margin-top: 6%;
        font-size: 35px;
    }
    .card_container{
        top: 24%;
    }
}
@media (max-width: 1223px){
    .case_header__img{
        width: 71%;
    }
    .case_header__header{
        font-size: 65px;
        margin-top: 8%;
    }
    .case_header__descr{
        font-size: 16px;
        margin-top: 2%;
        padding-right: 56%;
    }
    .button_link{
        margin-top: 4%;
    }
    .case_info__header{
        font-size: 30px;
    }
    .case_info__descr{
        font-size: 16px;
    }
    .features_header{
        font-size: 30px;
    }
    .features_descr{
        max-width: 73%;
        font-size: 16px;
    }
    .testimonials_header{
        font-size: 30px;
    }
    .card_box{
        margin: 30px 0 9% 0;
    }
    .card_container{
        top: 20%;
    }
    .user_comment{
        margin-top: 20px;
        font-size: 16px;
        line-height: 150%;
    }
    .slider_dots-arrow{
        margin-top: 400px;
    }
    .features-box{
        grid-template: 1fr 1fr 1fr / 1fr;
        gap: 40px 0;
    }
}
@media (max-width: 1024px){
    .menu_link{
        font-size: 18px;
    }
    .case_header__header{
        font-size: 55px;
        margin-top: 8%;
    }
    .case_header__descr{
        font-size: 14px;
        margin-top: 2%;
    }
    .button{
        min-width: 136px;
        height: 48px;
        font-size: 16px;
    }
    .case_info{
        padding: 0 3.5%;
    }
    .case_info__header{
        font-size: 25px;
        margin: 0px;
    }
    .case_info__descr{
        margin-top: 5px;
        font-size: 14px;
    }
    .features_header{
        font-size: 25px;
    }
    .features_descr{
        max-width: 83%;
        font-size: 14px;
    }
    .case_features_header{
        font-size: 20px;
    }
    .case_link__text{
        font-size: 18px;
    }
    .testimonials_header{
        font-size: 25px;
    }
    .user_name{
        font-size: 16px;
    }
    .user_comment{
        font-size: 14px;
    }
}
@media (max-width: 767px){
    .container{
        margin-top: 5%;
    }
    .strip{
        margin-top: 5%;
    }
    .footer_case{
        margin-top: 5%;
    }
    .nav{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .menu{
        position: fixed;
        grid-template: 1fr 1fr 1fr / 1fr;
        align-items: center;
        justify-items: center;
		top: 0;
		left: -100%;
        padding-left: 0;
		width: 35%;
		height: 100vh;
		background-color: rgba(156, 105, 226, 0.8);
		transition: 0.6s all;
        z-index: 2;
        border-radius: 0 50px 50px 0;
    }
    .menu_active{
        left: 0;
    }
    .menu_link{
        font-size: 30px;
        color: #FFFFFF;
    }
    .menu_link:hover{
        font-size: 25px;
    }
    .hamburger{
        display: block;
        position: fixed;
        top: 5%;
		right: 5%;
		width: 50px;
		height: 50px;
        background-color: rgba(156, 105, 226, 0.8);
        border-radius: 50px;
    }
    .hamburger_wrap{
        margin-top: 14px;
        margin-left: 10px;
    }
    .hamburger span{
        display: block;
        height: 4px;
        width: 30px;
        margin: 5px 0;
        background-color:#FFFFFF;
        transition: 0.5s all;
        border-radius: 4px;
    }
    .hamburger_active span{
        margin-bottom: -4px;
    }
    .hamburger_active span:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }
    .hamburger_active span:nth-child(2){
        display: none;
    }
    .hamburger_active span:nth-child(3){
        transform: translateY(3px) rotate(45deg);
    }
    .case_header{
        align-items: center;
    }
    .case_header__header{
        font-size: 45px;
        padding-right: 0;
        text-align: center;
    }
    .case_header__descr{
        font-size: 14px;
        padding-right: 0;
        text-align: center;
    }
    .case_header__img{
        margin-top: 4%;
        position: static;
    }
    .button_link{
        display: none;
    }
    .case_features_header{
        align-items: center;
    }
    .case_info__header{
        font-size: 20px;
    }
    .case_info{
        display: block;
        padding: 0;
    }
    .box_info{
        padding: 3% 7%;
    }
    .case_info__header{
        text-align: center;
    }
    .info_img{
        display: none;
    }
    .features-box{
        gap: 30px 0;
    }
    .case_features_icon{
        width: 40%;
    }
    .testimonials_header{
        text-align: center;
    }
    .card_container{
        position: static;
        display: flex;
        left: 0;
        margin-top: 10%;
    }
    .card{
        display: none;
    }
    .card_descr{
        margin-top: 0;
    }
    .card__active{
        display: initial;
    }
    .case_features_header{
        font-size: 22px;
    }
    .case_features_descr{
        font-size: 14px;
    }
    .slider_dots-arrow{
        margin-top: 30px;
        justify-content: center;
    }
    .box_dot{
        grid-template: 15px / 15px 15px 15px;
        gap: 0px 25px;
    }
    .dot{
        width: 10px;
        height: 10px;
    }
    .dot_active{
        width: 15px;
        height: 15px;
    }
    .arrow_box{
        display: none;
    }
    .address{
        font-size: 14px;
    }
    .mail{
        font-size: 14px;
    }
}
@media (max-width: 575px){
    .container{
        padding: 0, 5%;
    }
    .case_header{
        margin-top: 0;
    }
    .case_header__header{
        font-size: 40px;
    }
    .hamburger{
        top: 4%;
		right: 4%;
    }
}
@media (max-width: 320px){

}
