html{
    font-family: 'Ubuntu', sans-serif;
}
body{
    margin: 0;
}
.section{
    max-width: 1600px;
    margin: 0px auto;
    margin-top: 150px;
}
.section_concept{
    padding: 0px 0px 45px 0px;
    margin-top: 0;
}
.container{
    padding: 0 240px;
}
.container_concept{
    position: relative;
}
.concept-img{
    bottom: -90px;
    right: 100px;
    position: absolute;
}
.nav{
    display: flex;
    margin-top: 60px;
}
.logo{
    display:flex;
    justify-content: center;
    align-items: center;
}
.menu{
    padding: 0;
    padding-left: 100px;
    display: grid;
    grid-template: 35px / 100px 100px 100px;
    gap: 0px 20px;
    align-items: center;
    align-self: center;
}
.menu__link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
    text-decoration-line: none;
    color: #4B5D68;
    transition: 0.2s all;
}
.menu__link:hover{
    color: #212353;
    font-size: 22px;
    transition: 0.2s all;
}
.container-header{
    padding-right: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.container-header__header{
    margin: 140px 0px 0px 0px;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    color: #212353;
}
.container-descr{
    padding-right: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.container-descr__descr{
    margin-top: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.button{
    margin-top: 66px;
    min-width: 170px;
    height: 60px;
    background: #9C69E2;
    border: none;
    border-radius: 50px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.container_info{
    display: flex;
    justify-content: center;
}
.box-info{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 560px;
    padding: 0px 95px 0 16px;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
}
.case-info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-left: 65px;
}
.case-info__header{
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
}
.case-info__descr{
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.container_features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.features-header{
    font-weight: normal;
    font-size: 40px;
    color: #212353;
}
.features-descr{
    margin-top: 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    padding: 0 265px 0 265px;
    text-align: center;
}
.features-box{
    display: grid;
    grid-template: 358px 358px / 544px 544px;
    gap: 50px 32px;
    margin-top: 100px;
}
.case{
    position: relative;
    display: flex;
    align-items: center;
}
.case img{
    position: absolute;
}
.case_img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 172px;
    padding-right: 49px;
    margin-left: 90px;
    height: 358px;
    width: 441px;
}
.case_img__1{
    background: url('../img/case_1.png') center center/cover no-repeat;
}
.case_img__2{
    background: url('../img/case_2.png') center center/cover no-repeat;
}
.case_img__3{
    background: url('../img/case_3.png') center center/cover no-repeat;
}
.case_img__4{
    background: url('../img/case_4.png') center center/cover no-repeat;
}
.case-header{
    margin-top: 50px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
}
.case-descr{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
}
.case-click{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: transparent;
    width: 127px;
    height: 26px;
    font-weight: 400;
    font-size: 18px;
    color: #212353;
    cursor: pointer;
}
.case-click img{
    position: absolute;
    right: 0px;
}
.container_testimonials{
    display: flex;
    justify-content: center;
    overflow:  hidden;
}
.testimonials-box{
    position: relative;
    width: 1120px;
    min-height: 700px;
    padding-left: 100px;
    padding-right: 70px;
    border-radius: 50px;
    background: #9C69E2;
}
.testimonials-header{
    margin-top: 100px;
    font-weight: 500;
    font-size: 40px;
    color: #FFFFFF;
}
.card-container{
    position: absolute;
    display: grid;
    grid-template: 330px / 645px 400px 400px;
    gap: 0px 20px;
    left: 100px;
    margin-top: 90px;
}
.card{
    position: relative;
    padding-left: 40px;
    box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background:#FFFFFF; /* 
    display: none; */
}
.card::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index:2;
    border-radius: 20px;    
    background: linear-gradient(270deg, #FFFFFF 9.75%, rgba(255, 255, 255, 0) 100%);
}
.card__active{
    display: initial;
    margin-left: 0;
    padding: 0 70px;
    background:#FFFFFF;
    box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.2);
}
.card__active::before{
    display: none;
}
.card-box{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 60px;
}
.card-descr{
    margin-top: 20px;
    padding-left:30px;
}
.user-name{
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #212353;
}
.user-job{
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #9C69E2;
}
.user-comment{
    margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}
.slider-dots{
    display: flex;
	justify-content: space-between;
    align-items: center;
    margin-top: 480px;
    height: 15px;
}
.box-dot{
    display: flex;
    justify-content: start;
    align-items: center;
}
.dot{
    cursor: pointer;
    margin-left: 10px;
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    border-radius: 5px;
}
.dot-active{
    margin-left: 0;
    width: 10px;
    height: 10px;
    background: #F063B8;
    border-radius: 10px;
}
.arrow-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    height: 20px;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    cursor: pointer;
}
.arrow div {
    position: relative;
    top: 0;
    width: 40px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
    left:0;
    display: block;
}
.arrow div::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    top: -1px;
    left: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
    transform: rotate(-45deg);
}
.arrow div::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    top: -7px;
    left: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
    transform: rotate(45deg);
}
.arrow-active{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    transform: rotate(180deg);
}
.arrow-active div {
    position: relative;
    top: 0;
    width: 40px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 2px;
    left:0;
    display: block;
}
.strip{
    margin-top: 150px;
    width:100%;
    height: 2px;
    background: #9C69E2;
    opacity: 0.2;
}
.container_footer{
    padding-bottom: 70px;
}
.footer-case{
    display: flex;
    justify-content: space-between;
    margin-top: 160px
}
.data-warehouse{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.logo_footer{
    display:flex;
    justify-content: start;
    align-items: center;
    text-decoration-line: none;
}
.warehouse{
    margin-left: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #212353;
}
.address{
    margin-top: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #212353;
}
.mail{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #212353;
}
.number-company{
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 180%;
    color: #212353;
}
.social-media{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 210px;
}
.social-header{
    font-weight: 500;
    font-size: 16px;
    color: #212353;
}
.social-case{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.social-round{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #212353;
    opacity: 0.1;
    cursor: pointer;
}